.l-top_menu {
background: url(http://oboi.cc/uploads/11_05_2013/view/201209/oboik.ru_8836.jpg) repeat;
}
/* AUTO=body_background */ body { background: url(http://oboi.cc/uploads/11_05_2013/view/201209/oboik.ru_8836.jpg) repeat fixed top; }
.l-page {
background-color: rgba(220, 220, 220, 0.7);
}
.p-profiles .profile-head .c-brief .avatar > img {animation: flyingavatar 4s ease-in-out infinite}
@keyframes flyingavatar {
0% {transform: translateY(0px)}
50% {transform: translateY(-15px)}
100% {transform: translateY(0px)}
}
.avatar img {
border-radius: 50%;
}
.to-top-fix,
.l-top_menu {
background: url( ) repeat;
}
.l-top_menu:after {
  
background-position: 52% 97%;
}
.p-profiles-show .profile-head:before {
    content: '';
    display: inline-block;
    height: 1350px; /* высота обложки */
    width: 100%;
    background: url(http://i.imgur.com/0sJrzEV.png) no-repeat; /* сама обложка */
    background-size: cover;
}
header.head h1, header.head h2 {
font: 23px Segoe UI Medium, verdana, arial, sans-serif; color: #c52dfc;
}
.menu .unread-count, .menu .contest {
background: #c52dfc !important;
.b-stats_bar.anime .bar .first {
background: #edbdff;
border-radius: 2px;
}
}
.b-stats_bar.manga .bar .second {
background: #edbdff;
}
.b-stats_bar.anime .bar .second {
background: #edbdff; 
}
.b-stats_bar.anime .bar .first {
background: #b78bc7;
border-radius: 2px;
}
.bar.simple .bar.s0 {background:#db2727}
.bar.simple .bar.s1 { background:#db2778}
.bar.simple .bar.s2 { background:#dbd227}
.bar.simple .bar.s3 { background:#27db33}
.bar.simple .bar:hover.s0 { background:#f01f1f}
.bar.simple .bar:hover.s1 { background:#f5187c}
.bar.simple .bar:hover.s2 { background:#f5e911}
.bar.simple .bar:hover.s3 { background:#07fa18}
.subheadline {color:#c52dfc}
.subheadline > a {color:#c52dfc}
.b-feedback {
visibility: hidden;
}
.to-top-fix {background: none;
border-bottom: none;}
img {border-radius: 46px;}
body {
color: purple

;
}

body:before {
content: '';
display: block;
width: 107%;
height: calc(110% - 26px);
position: fixed;
right: calc(-300px - 28%);
background-image: url(http://i.imgur.com/plvLAZN.png);
background-repeat: no-repeat;
background-position: bottom center;
background-size: auto 40%;
top: -5%;
transform: scale(-1, 1);
}
body:after {
content: '';
display: block;
width: 280%;
height: calc(110% - 26px);
position: fixed;
right: calc(-250px - 29%);
background-image: url(http://i.imgur.com/YzX0dsh.png);
background-repeat: no-repeat;
background-position: bottom center;
background-size: auto 50%;
top: -5%;
transform: scale(-1, 1);
}
/* cyrillic-ext */
@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.gstatic.com/s/kurale/v2/7jJN8qaAJ-bvl8FfBXHmmvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.gstatic.com/s/kurale/v2/P7qVd45CCg82OZad2GrcAvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.gstatic.com/s/kurale/v2/WJehOQP9x2aWC2cx4q6UhPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.gstatic.com/s/kurale/v2/3b_QANVGb6pYNx7RYyevDvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kurale';
  font-style: normal;
  font-weight: 400;
  src: local('Kurale Regular'), local('Kurale-Regular'), url(https://fonts.gstatic.com/s/kurale/v2/qUcQKP0WQHGvJJtuLvvwEg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body, input, select, button, textarea {
  font-family: 'Kurale';
}
.activity .graph.vertical .line .bar {
  box-sizing: content-box;
  transform: translateY(1px);
  transform-origin: center bottom;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-name: activity;
}
.activity .graph.vertical .line .bar:hover {
  animation-name: none;
  transform: none;
}
.activity .graph.vertical .line:nth-of-type(6n+2) .bar {
  animation-delay: -.25s;
}
.activity .graph.vertical .line:nth-of-type(6n+4) .bar {
  animation-delay: -.5s;
}
.activity .graph.vertical .line:nth-of-type(6n+3) .bar {
  animation-delay: -.75s;
}
.activity .graph.vertical .line:nth-of-type(6n+6) .bar {
  animation-delay: -1s;
}
.activity .graph.vertical .line:nth-of-type(6n+5) .bar {
  animation-delay: -1.25s;
}
@keyframes activity {
  0%, 100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(7px);
  }
}
/*COLORS*/
/*Аниме Просмотрено*/
.c-lists-info .b-stats_bar.anime .bar > div.first:before,
.c-lists-info .b-stats_bar.anime .bar > div.first:after,
.c-lists-info .b-stats_bar.anime .stat_names .stat_name a[href*="completed"]:before{
	border-color:transparent;
	background-color:#c42f2f
}
/*Аниме Запланировано*/
.c-lists-info .b-stats_bar.anime .bar > div.second:before,
.c-lists-info .b-stats_bar.anime .bar > div.second:after,
.c-lists-info .b-stats_bar.anime .stat_names .stat_name a[href*="planned"]:before,
.c-lists-info .b-stats_bar.anime .stat_names .stat_name a[href*="watching"]:before,
.c-lists-info .b-stats_bar.anime .stat_names .stat_name a[href*="on_hold"]:before{
	border-color:transparent;
	background-color:#35e856
}

/*Манга Прочитано*/
.c-lists-info .b-stats_bar.manga .bar > div.first:before,
.c-lists-info .b-stats_bar.manga .bar > div.first:after,
.c-lists-info .b-stats_bar.manga .stat_names .stat_name a[href*="completed"]:before{
	border-color: transparent;
	background-color:#35e2e8
}
/*Манга Запланировано*/
.c-lists-info .b-stats_bar.manga .bar > div.second:before,
.c-lists-info .b-stats_bar.manga .bar > div.second:after,
.c-lists-info .b-stats_bar.manga .stat_names .stat_name a[href*="planned"]:before,
.c-lists-info .b-stats_bar.manga .stat_names .stat_name a[href*="watching"]:before,
.c-lists-info .b-stats_bar.manga .stat_names .stat_name a[href*="on_hold"]:before{
	border-color: transparent;
	background-color:#e835d3
}
/*Оба Графика Брошено*/
.c-lists-info .b-stats_bar .bar,
.c-lists-info .b-stats_bar .stat_names .stat_name a[href*="dropped"]:before{
	border-color: transparent;
	background-color: #d4de50
}
/*Дырка в графике указать, transparent для прозрачной дырки*/
.c-lists-info .b-stats_bar .bar:before{
	background: #fff; 
}

/*COLORS:END*/
.c-lists-info .b-stats_bar{
	width: 49%;
	display: inline-block;
	padding:5px;
	position: relative;
}
.c-lists-info .b-stats_bar:first-child{border-right:1px dotted #ddd}
.c-lists-info .b-stats_bar .stat_names .stat_name:after{display: none}

/*Блок списка*/
.c-lists-info .b-stats_bar .stat_names{
	display: flex;
	position: absolute;
	top:33px;
	left:165px;
	height:150px;
	flex-direction: column;
	justify-content: center;
}

/*Ссылка*/
.c-lists-info .b-stats_bar .stat_names .stat_name a{
	display: inline-block;
	font-size: 12px;
	position: relative;
	line-height: 25px;
}

/*На х1000 обрезает число и загоняет текст под многоточее*/
.x1000 .c-lists-info .b-stats_bar .stat_names a{
	font-size: 11px;
	width: 90px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.x1000 .c-lists-info .b-stats_bar .stat_names a span{
	display: none;
}
/*Круг цветового индикатора*/
.c-lists-info .b-stats_bar .stat_names .stat_name a:before {
	content: "";
	display: inline-block;
	width: 12px;
	height:12px;
	background: #fff;
	margin-right: 5px;
	vertical-align: middle;
	border:1px solid #ddd;
	border-radius: 50%;
}

/*CIRCLE BAR*/
.c-lists-info .b-stats_bar .bar,
.c-lists-info .b-stats_bar .bar > div{
	height:150px!important;
	width:150px!important;
}
.c-lists-info .b-stats_bar .bar{
	position: relative;
	text-align: center;
	border-radius: 50%;
	margin: 10px 0;
}
.c-lists-info .b-stats_bar .bar:before{
	content:"";
	width:50px;
	height:50px;
	border-radius: 50%;
	position: absolute;
	z-index: 100;
	left:50px;
	top:50px;
}
.c-lists-info .b-stats_bar .bar > div{
	clip: rect(0px, 150px, 150px, 75px);
	background-color: transparent!important;
	font-size: 0!important;
	position: absolute;
	left: 0;
	top:0;
}
.c-lists-info .b-stats_bar .bar > div:before,
.c-lists-info .b-stats_bar .bar > div:after{
	content: "";
	position: absolute;
	right: 0;
	border: 75px solid #333;
	clip: rect(0px, 75px, 150px, 0px);
	border-radius: 50%;
	transform: rotate(0deg);
}
.c-lists-info .b-stats_bar .bar > div.third{display: none}
.c-lists-info .b-stats_bar .bar > div.second{transform: scale(-1, 1)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 1."]:before{transform: rotate(3.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 2."]:before{transform: rotate(7.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 3."]:before{transform: rotate(10.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 4."]:before{transform: rotate(14.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 5."]:before{transform: rotate(18deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 6."]:before{transform: rotate(21.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 7."]:before{transform: rotate(25.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 8."]:before{transform: rotate(28.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 9."]:before{transform: rotate(32.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 10."]:before{transform: rotate(36deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 11."]:before{transform: rotate(39.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 12."]:before{transform: rotate(43.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 13."]:before{transform: rotate(46.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 14."]:before{transform: rotate(50.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 15."]:before{transform: rotate(54deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 16."]:before{transform: rotate(57.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 17."]:before{transform: rotate(61.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 18."]:before{transform: rotate(64.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 19."]:before{transform: rotate(68.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 20."]:before{transform: rotate(72deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 21."]:before{transform: rotate(75.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 22."]:before{transform: rotate(79.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 23."]:before{transform: rotate(82.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 24."]:before{transform: rotate(86.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 25."]:before{transform: rotate(90deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 26."]:before{transform: rotate(93.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 27."]:before{transform: rotate(97.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 28."]:before{transform: rotate(100.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 29."]:before{transform: rotate(104.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 30."]:before{transform: rotate(108deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 31."]:before{transform: rotate(111.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 32."]:before{transform: rotate(115.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 33."]:before{transform: rotate(118.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 34."]:before{transform: rotate(122.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 35."]:before{transform: rotate(126deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 36."]:before{transform: rotate(129.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 37."]:before{transform: rotate(133.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 38."]:before{transform: rotate(136.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 39."]:before{transform: rotate(140.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 40."]:before{transform: rotate(144deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 41."]:before{transform: rotate(147.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 42."]:before{transform: rotate(151.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 43."]:before{transform: rotate(154.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 44."]:before{transform: rotate(158.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 45."]:before{transform: rotate(162deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 46."]:before{transform: rotate(165.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 47."]:before{transform: rotate(169.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 48."]:before{transform: rotate(172.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 49."]:before{transform: rotate(176.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 50."]:before{transform: rotate(180deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 51."]:before{transform: rotate(183.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 52."]:before{transform: rotate(187.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 53."]:before{transform: rotate(190.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 54."]:before{transform: rotate(194.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 55."]:before{transform: rotate(198deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 56."]:before{transform: rotate(201.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 57."]:before{transform: rotate(205.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 58."]:before{transform: rotate(208.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 59."]:before{transform: rotate(212.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 60."]:before{transform: rotate(216deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 61."]:before{transform: rotate(219.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 62."]:before{transform: rotate(223.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 63."]:before{transform: rotate(226.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 64."]:before{transform: rotate(230.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 65."]:before{transform: rotate(234deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 66."]:before{transform: rotate(237.66deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 67."]:before{transform: rotate(241.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 68."]:before{transform: rotate(244.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 69."]:before{transform: rotate(248.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 70."]:before{transform: rotate(252deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 71."]:before{transform: rotate(255.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 72."]:before{transform: rotate(259.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 73."]:before{transform: rotate(262.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 74."]:before{transform: rotate(266.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 75."]:before{transform: rotate(27deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 76."]:before{transform: rotate(273.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 77."]:before{transform: rotate(277.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 78."]:before{transform: rotate(280.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 79."]:before{transform: rotate(284.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 80."]:before{transform: rotate(288deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 81."]:before{transform: rotate(291.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 82."]:before{transform: rotate(295.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 83."]:before{transform: rotate(298.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 84."]:before{transform: rotate(302.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 85."]:before{transform: rotate(306deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 86."]:before{transform: rotate(309.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 87."]:before{transform: rotate(313.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 88."]:before{transform: rotate(316.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 89."]:before{transform: rotate(320.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 90."]:before{transform: rotate(324deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 91."]:before{transform: rotate(327deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 92."]:before{transform: rotate(331.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 93."]:before{transform: rotate(334.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 94."]:before{transform: rotate(338.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 95."]:before{transform: rotate(342deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 96."]:before{transform: rotate(345.6deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 97."]:before{transform: rotate(349.2deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 98."]:before{transform: rotate(352.8deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 99."]:before{transform: rotate(356.4deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 100."]:before{transform: rotate(360deg)}
.c-lists-info .b-stats_bar .bar > div[style*="width: 51."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 52."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 53."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 54."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 55."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 56."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 57."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 58."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 59."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 60."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 61."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 62."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 63."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 64."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 65."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 66."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 67."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 68."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 69."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 70."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 71."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 72."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 73."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 74."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 75."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 76."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 77."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 78."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 79."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 80."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 81."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 82."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 83."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 84."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 85."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 86."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 87."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 88."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 89."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 90."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 91."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 92."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 93."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 94."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 95."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 96."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 97."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 98."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 99."]:after,
.c-lists-info .b-stats_bar .bar > div[style*="width: 100."]:after{
	transform: rotate(180deg);
}
.c-lists-info .b-stats_bar .bar > div[style*="width: 51."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 52."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 53."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 54."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 55."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 56."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 57."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 58."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 59."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 60."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 61."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 62."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 63."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 64."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 65."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 66."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 67."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 68."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 69."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 70."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 71."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 72."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 73."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 74."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 75."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 76."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 77."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 78."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 79."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 80."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 81."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 82."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 83."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 84."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 85."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 86."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 87."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 88."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 89."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 90."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 91."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 92."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 93."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 94."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 95."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 96."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 97."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 98."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 99."],
.c-lists-info .b-stats_bar .bar > div[style*="width: 100."]{
	clip: rect(auto, auto, auto, auto);
}
/*CIRCLE BAR:END*/
.p-profiles .about.block .b-spoiler label {
    border: none;
    display: inline-block !important;
    font-weight: bold; /* толщина шрифта, можно убрать, если не нужно */
    color: #000; /* цвет текста спойлера */
    background: #e8ebef; /* цвет фона спойлера */
    height: 30px; 
    width: 100%;
    font-size: 12pt; /* размер шрифта текста на спойлере */
    padding-top: 3px; 
    text-align: center;
    margin-bottom: 5px;
}

.p-profiles .about.block .b-spoiler .after:before, .about.block .b-spoiler .before:before {
    content: '';
}

.p-profiles .about.block .b-spoiler .before {
    width: 100%; 
    height: 50px;
    display: inline-block !important;
    margin-top: -50px;
}
.turbolinks:after {
    content: " ";
    height: 100%;
    width: 100%;
    display: inline-block;
    position: fixed;
    background: url(http://asset-1.soupcdn.com/asset/15072/2243_1c27.gif) fixed;
}
